.focusable-element-initial {
  width: max-content;
  height: auto;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.focusable-element-focused {
  outline: 1px solid #3e87f8;
}

.focusable-element-node {
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #3e87f8;
  position: absolute;
}

.focusable-element-node:nth-of-type(1) {
  top: -6px;
  left: -6px;
}
.focusable-element-node:nth-of-type(2) {
  top: -6px;
  right: -6px;
}
.focusable-element-node:nth-of-type(3) {
  bottom: -6px;
  right: -6px;
}
.focusable-element-node:nth-of-type(4) {
  bottom: -6px;
  left: -6px;
}
